<div>
    <div class="section">
        <div class="container">
            <div class="black-box" style="border-left: 20px solid #17617e; font-size: 23px; letter-spacing: 5px; line-height: 2.3rem">
                HOW IT WORKS?
            </div> <br>
            <div class="list-type5">
                <ol>
                    <li><a>Register yourself on the grraabit website by creating your user id and password.</a></li>
                    <li><a>In order to register and participate in any deal, you will need to purchase "deal packs" which can be found on the "home page" or "my account page".</a></li>
                    <li><a>Purchase the "deal pack" of your choice and complete the payment by using any of the online payment methods listed on the website.</a></li>
                    <li><a>You can check your total balance and deal packs displayed under "My account."</a></li>
                    <li><a>All "upcoming deals" are displayed on the home page as well as "My deals" page.</a></li>
                    <li><a>You can now register for upcoming deals of your choice by placing the minimum required bids to proceed with the deal. Registration will be closed once required number of registrations have been met. Registered deals will be displayed under "My active deals."</a></li>
                    <li><a>In case the number of minimum registrations are not met, the deal will be closed and rescheduled.</a></li>
                    <li><a>Once the deal is live, you can place a bid by clicking on "Bid now". Each bid increases the price by "X" amount. A User is allowed a maximum of 10 seconds to place their next bid. Every bid placed resets the timer.</a></li>
                    <li><a>If no bids are placed within the last 10 seconds, the highest bidder grabs the deal. The winner gets to purchase the product at the "winning bid price".</a></li>
                    <li><a>All participants of the deal have the opportunity to purchase the product at "deal price".</a></li>
                    <!-- <li><a>REGISTER AND CREATE AN ACCOUNT ON GRAABIT WEBSITE ENTER EMAIL ID, MOBILE NUMBER AND PASSWORD.</a></li>

                    <li><a> CLICK ON SIGNUP, ONCE YOU’RE LOGGED IN TO YOUR YOU CAN BUY BID PACKS AND REGISTER FOR DEALS.</a></li>

                    <li><a>ALL UPCOMING DEALS ARE SHOWN ON HOME PAGE AND DEALS PAGE.</a></li>

                    <li><a>GO TO BUY DEAL BIDS PACKS AND BUY AS MANY BID PACKS AS YOU WISH. </a></li>
                    
                    <li><a>ONCE USER’S SELECTED THE PACK THEY CLICK ON PAY NOW USING ANY OF THE ONLINE PAYMENT METHODS LISTED ON WEBSITE.</a></li>
                    
                    <li><a>THE BIDS AND TOTAL BALANCE WILL BE SHOWN IN THE USER’S MY ACCOUNT PAGE.</a></li>
                    
                    <li><a>NEXT USERS GO TO UPCOMING DEALS PAGE AND THEN REGISTER FOR RESPECTIVE DEALS OF THEIR CHOICE USING MINIMUM REQUIRED BIDS FOR THE DEAL BEFORE THE DEAL AUCTION STARTS.</a></li>
                    
                    <li><a>WHEN REQUIRED NUMBER OF USERS REGISTER FOR THE DEAL AUCTION, REGISTRATION CLOSES.
DEAL AUCTIONS START AT 8PM AND GO ON UNTIL 10 PM</a></li>
                    
                    <li><a>USERS CLICK ON BID NOW AND START PLACING THEIR BIDS ON THE PRODUCT
EACH BID INCREASES THE PRICE BY SOME AMOUNT. </a></li>
                    
                    <li><a>A MAXIMUM OF 10 SECONDS ARE AVAILABLE FOR A USER TO PLACE THEIR NEXT BID.</a></li>
                    
                    <li><a>IF NO BIDS IS PLACED IN 10 SECONDS AUCTION ENDS AND LAST USER BID GRABS THE DEAL AT THAT PRICE.</a></li>
                    
                    <li><a>OR IF 2 HOURS ENDS AUCTION ENDS AND USER WITH HIGHEST BID WINS AND GRABS THE DEAL.
WINNER GETS TO BUY THE PRODUCT AT WINNING BID PRICE.</a></li>
                    
                    <li><a>EVERYONE ELSE WHO PARTICIPATED IN THE DEAL GETS THE PRODUCT AT DEAL PRICE. </a></li> -->
                </ol>

            </div>
        </div>

    </div>
</div>
