<div>
    <style>
        .btn-danger {
            border-radius: 0px;
            background-color: #17617e;
        }
  
        .fixed-side-menu-list {
            list-style: none;
            font-size: 0;
        }
  
        .fixed-side-menu-list li {
            margin-bottom: 2px;
        }
  
        .fixed-side-menu-list li a {
            border-left: 2px solid #a2a2a2;
            font-size: 12px;
            color: #a2a2a2;
            line-height: 12px;
            padding: 24px 10px;
            display: block;
            text-decoration: none;
            transition: all 0.8s ease;
        }
  
        .fixed-side-menu-list li.active a {
            border-left-color: #17617e;
            color: #17617e;
        }
  
        .fixed-side-menu-list li.active a {
            border-left-color: #17617e;
            color: #17617e;
        }
  
        .fixed-side-menu-list a:hover {
            border-left-color: #111;
            color: #111;
        }
  
        .list-type5 {
  
            margin: 0 auto;
        }
  
        .list-type5 ol {
            list-style-type: none;
            list-style-type: upper-roman;
            /*IE 7- hack*/
            margin: 0;
            margin-left: 1em;
            padding: 0;
            counter-reset: li-counter;
        }
  
        .list-type5 ol li {
            position: relative;
            margin-bottom: 1.5em;
            padding: 0.5em;
            background-color: #111;
            padding-left: 58px;
        }
  
        .list-type5 a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: 'Raleway', sans-serif;
        }
  
        .list-type5 li:hover {
            box-shadow: inset -1em 0 #17617e;
            -webkit-transition: box-shadow 0.5s;
            /* For Safari 3.1 to 6.0 */
            transition: box-shadow 0.5s;
        }
  
        .list-type5 ol li:before {
            position: absolute;
            top: -0.3em;
            left: -0.5em;
            width: 1.8em;
            height: 1.2em;
            font-size: 2em;
            line-height: 1.2;
            font-weight: bold;
            text-align: center;
            color: white;
            background-color: #17617e;
            transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            z-index: 9;
            overflow: hidden;
            content: counter(li-counter);
            counter-increment: li-counter;
        }
  
    </style>
    <div class="section">
        <div class="container">
            <div class="list-type5">
                <div class="" style="font-size: 23px; letter-spacing: 5px; line-height: 2.3rem">
                    Disclaimer
                </div> <br>
                <div class=" text-uppercase">
                    The information provided or displayed on the website or provided subsequently to the bidder/s in any manner whatsoever by or on behalf of the Company or any of its employees is provided to the bidder/s on the terms and conditions set out on the website.  <br><br>
  
  The terms and conditions and the information on the website or the website is neither a bidding agreement nor is it an offer by the Company to the prospective bidder/s or any other person.  The purpose of this website is to provide interested parties with information that may be useful to them in making their bids pursuant to the information provided on this website.  <br><br>
  
  The Company is only providing a platform for discounted deals and communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the merchant/s and the user/s. the Company does not hold itself as the agent of any of the merchant/s associated with the company. <br><br>
  
  This website is for interested persons and it is not possible for the Company or its employees to consider the investment objectives, financial situation and particular needs of each party/ prospective bidder/s who reads/ accesses or uses the website. <br><br>
  
  The Company has taken all reasonable measures to ensure that all the information and data provided on this website are true and correct. The Company advises to independently verify the bona fides of any particulars displayed on this website with respect to the Merchant/s products prior to placing and or participating in any bidding process on the website. <br><br>
  
  The Company and its employees make no representation or warranty implied or otherwise and shall have no liability to any person, including any user/s and/ or bidder/s under any law, statute, rules or regulations or tort, principles of unjust enrichment or otherwise for any loss, damages, cost or expenses which may arise from or be incurred or suffered due to anything contained on this website and including  but not limited to  the following: <br><br>
  
  Any non-performance or breach of any contract entered into between Merchants and the user/s (including the details/ quality and specifications of the products of the merchants that are displayed on the website); <br>
  The unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered by the unsuccessful bidder/s (being the bidder entitled to the participation discount) through the website; <br>
  Any issue what so ever with respect to the internet services, including but not limited to software issues more detailed in the terms and conditions entered into between the users and the Company; <br>
  The information that the user may have depended upon while visiting this website; <br><br>
  
  The Company shall have no liability whatsoever in the event of the Merchant/s and/or User/s performing any transaction concluded on the Website in the event of any deficiencies thereof. <br><br>
  
  The Company shall not and is not required to mediate or resolve any dispute or disagreement between Merchant/s and the User/s. <br><br>
  
  The display of the information on this website does not imply that the company is bound to issue the deal winner email/ discount to the selected bidder. The Company shall at its sole discretion decide who the deal winner is and the decision of the Company shall be final and binding upon the user/s and the prospective bidder/s and the successful bidder/s. <br><br>
  
  The bidder/s are required to have minimum required broadband / mobile internet speeds on their devices. <br><br>
  
  The Company reserves the right to reject all or any bidder/s and/ or bid/s without incurring any liability including but not limited to any justification/ explanation to the bidder/s whatsoever.  <br><br>
  
  In the event of any dispute between the user/s (including the bidder/s) and the Company, the jurisdiction stipulated under the terms and conditions shall be applicable.  <br><br>
  
  The Disclaimer shall be read as part of the terms and conditions entered into between the user/s and the Company.
                </div>
            </div>
        </div>
  
    </div> 
  </div>
  
