<div>
    <div class="section">
        <div class="container">
            <div class="list-type5">
                <div class="black-box" style="font-size: 23px; letter-spacing: 5px; line-height: 2.3rem; background-color: white; color: #17617e">
                    WHAT IS GRAABIT?
                </div> <br>
                <div class="black-box" style="background-color: white; color: #17617e"> 
                    GRAABIT IS A UNIQUE DEAL AUCTION PLATFROM OFFERING EXCLUSIVE AND GURANTEED DEALS FOR ALL PARTICIPANTS. WE ARE 100% TRANSPARENT PLATFROM POWERED BY BLOCKCHAIN TECHNOLOGY. OUR
   DEAL AUCTIONS ARE AUCTIONS TO GET A GREAT DEAL FOR ONE AND GET DISCOUNTED DEALS FOR EVERYONE WHO PARTICIPATES IN THE GRAABIT DEALS. ALL DEALS AND RESPECTIVE AUCTIONS ARE RECORED AND PUBLISHED ON THE PUBLIC LEDGER.
                </div>
            </div>
        </div>
   
    </div>
   
   
    <div class="section">
        <div class="container">
            <div class="list-type5">
                <div class="black-box text-uppercase" style="font-size: 23px; letter-spacing: 5px; line-height: 2.3rem; background-color: white; color: #17617e">
                    What is a blockchain?
                </div> <br>
                <div class="black-box text-uppercase" style="background-color: white; color: #17617e">
                    A blockchain is the structure of data that represents a financial ledger entry, or a record of a transaction. Each transaction is digitally signed to ensure its authenticity and that no one tampers with it, so the ledger itself and the existing transactions within it are assumed to be of high integrity.
   
                </div>
            </div>
        </div>
   
    </div>
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
   
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
   
    </script>
   </div>